********************************************************************
*                                                                  *
* DRILL TAPE SUMMARY REPORT                                        *
*                                                                  *
* D:\UTENTI\00.LAVORI IN CORSO\METALTRONICA\22-316-1\22-316-1.MAX  *
* Wed Oct 09 14:27:59 2024                                         *
*                                                                  *
********************************************************************

TOOL     SIZE     QUANTITY FEED     SPEED    
---------------------------------------------
T1       79       4        200      100                                                                                 
T2       394      1        200      100                                                                                 
T3       551      1        200      100                                                                                 
T4       787      2        200      100                                                                                 
