********************************************************************
*                                                                  *
* DRILL TAPE SUMMARY REPORT                                        *
*                                                                  *
* D:\UTENTI\00.LAVORI IN CORSO\METALTRONICA\22-316-0\22-316-0.MAX  *
* Tue Feb 14 17:07:08 2023                                         *
*                                                                  *
********************************************************************

TOOL     SIZE     QUANTITY FEED     SPEED    
---------------------------------------------
T1       118      4        200      100                                                                                 
T2       394      1        200      100                                                                                 
T3       551      1        200      100                                                                                 
T4       866      2        200      100                                                                                 
